.projects {
    width: 90%;
    margin: auto;
    min-height: 90vh;
    @include flex(space-between, center, row);
    text-align: center;
    flex-wrap: wrap;
    h2 {
        margin: 5rem;
    }
}

.photon,
.photographer,
.yelp-camp,
.beatmaker
{
    flex: 1 1 40rem;
}

.yelp-camp h2 {
    // line-height: 3rem;
    margin-bottom: 2.5rem;
}
.proj-desc {
    @include flex(center, center, row);
    width: 70%;
}

.stacks {
    flex: 1 1 10rem;
}
.stacks li {
    font-size: 1.7rem;
}

.small-github {
    max-width: 3vw;
    flex: 1 1 10rem;
    align-self: flex-start;
}

.beatmaker {
    align-self: flex-start;
}
